/* AtlantaHawks.css */

.hawks-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a10202;
  padding: 10px;
}

.hawks-logo {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.hawks-name {
  color: #fff; /* Change text color to white */
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #eaeff2;
  color: #a10202;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-buttons button:hover,
.toggle-buttons button:active {
  background-color: #0c394b;
}

/* Add animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggle-buttons button {
  animation: fadeIn 0.5s ease;
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* Change the color as needed */
  margin-bottom: 10px;
}