/* Home.css */

/* Styles for desktop */
.main-header {
    color: white;
    background-color: #071824;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    padding: 50px;
}

.y-button,
.tom-button,
.tod-button {
    font-size: 25px;
    color: white;
    padding: 5px;
    text-align: center;
    background-color: #071824;
    border: 5px solid #0c394b;
    border-radius: 100px;
}

.toggle-buttons-container button:hover,
.toggle-buttons-container button:active {
    background-color: #0c394b;
}

.toggle-buttons-container button {
    animation: fadeIn 0.5s ease;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 0;
}
  
.toggle-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toggle-buttons-container button.active {
    background-color: #0c394b;
    border-color: #0c394b;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
    .main-header {
        font-size: 40px;
        padding: 20px;
    }

    .y-button,
    .tom-button,
    .tod-button {
        font-size: 20px;
        padding: 10px;
        border-radius: 50px;
    }

    .toggle-buttons-container button {
        padding: 15px;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .toggle-buttons-container {
        flex-direction: column;
    }
}
