.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #071824;
  color: white;
}

.centeredContent {
  flex: 1;
  text-align: center;
}

.logosize {
  width: 300px;
  height: auto;
}

.rightLinks {
  display: flex;
  margin-left: -10rem;
}

.rightLinks a {
  color: white; 
  text-decoration: none; 
  padding: 0.5rem 1rem; 
  border-radius: 20px; 
  font-weight: bold; 
  font-size: 15px;
  font-family: 'Arial', sans-serif; 
}

.rightLinks a:hover {
  background-color: #1a2c38;
}