.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #071824;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3px; 
  z-index: 1;
}

.sidebar.open {
  width: 290px;
}

.toggle-btn {
  font-size: 20px;
  position: fixed;
  top: 25px;
  left: 20px;
  background-color: #071824;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  font-weight: bold; 
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease; 
}

.toggle-btn:hover {
  background-color: #0c394b; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 5px; 
  color: white;
}

li {
  padding: 15px;
  border-bottom: 1px solid #555;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

li:hover {
  background-color: #1a2c38;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #6a6e6b; 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; }

  .close-btn {
  background-color: #071824;
  color: white; 
  padding: 0px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 5px; 
  font-size: 16px;
  position: relative;
  top: 5px; 
  left: 200px;
  }

 .sidebar-title {
  color: white;  
  margin-left: -55px;
  font-size: 40px; 
  font-weight: bold; 
  font-family: Arial, sans-serif;   
}
