/* Assuming you have a stylesheet named GamesTable.css */

.games-container {
  max-width: 900px;
  margin: 0 auto;
  border: 0px solid #071824;
  background-color: #1a2c38;
  border-radius: 0px;
  padding: 20px;
}

.mainHeader {
  color: white;
  background-color: #071824;
  border-radius: 10px;
  padding: 8px; 
  font-weight: bold; 
  font-family: Arial, sans-serif; 
  font-size: x-large;
  text-align: center;
}

.subHeader {
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: large;
  text-align: center;
  margin-top: 10px;
}

.games-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

.games-container th, .games-container td {
  border: 0px solid #071824;
  padding: 8px;
  text-align: center;
  background-color: #071824;
  color: white;
}

.games-container th {
  background-color: #0f212e;
}

body {
  background-color: #1a2c38;
}

