/* GamesTable.css */

.games-container {
  max-width: 2000px;
  margin: 0 auto;
  border: 0px solid #071824;
  background-color: #071824;
  border-radius: 0px;
  padding: 20px;
}

.mainHeader { /* NBA Games */
  color: white;
  background-color: #071824;
  border-radius: 10px; 
  font-weight: bold; 
  font-family: Arial, sans-serif; 
  font-size: 30px;
  text-align: center;
  margin-top: 2px;
}

.subHeader { /* date */
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  background-color: rgb(24, 24, 24);
  padding: 5px;
}

.games-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  background-color: #071824;
}

.games-table th { /* headers */
  max-width: 1500px;
  color: #e9ebed; 
  background-color: #1a2c38;
  border: #1a2c38; ;
  text-align: center;
  font-size: 20px; 
  padding: 20px; 
}

.games-table td { /* cells */
  color: #e9ebed;
  background-color: #071824;
  text-align: center;
  font-size: 18px;
  padding: 20px; 
  border: #071824;
}

body {
  background-color: #071824;
}
