/* Odds.css */
  
.Betting-Odds-Header {
  color: rgb(245, 240, 240);
  background-color: #071824;
  border-radius: 1000px;
  padding: 0px; 
  font-weight: bold; 
  font-family: Arial, sans-serif; 
  font-size: x-large;
  text-align: center;
  }

  .header-title {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

 










